<!-- IF SOCIALPOPUP_ACTIVE -->
<div id='fbox-background'>
    <div id='fbox-close'>
    </div>
    <div id='fbox-display'>
        <div id='fbox-button'>
        </div>
        <iframe id="fbox" allowtransparency='true' frameborder='0' scrolling='no' src='//www.facebook.com/plugins/likebox.php?
        href=https://www.facebook.com/{FACEBOOK_PAGE}&width=402&height=255&colorscheme=light&show_faces=true&show_border=false&stream=false&header=false'
        ></iframe>
        <div id="fbox-link">Powered by <a class="fbox-bottomlink" href="https://github.com/emmea90" rel="nofollow">Emmea90</a></div>
    </div>
</div>
<!-- INCLUDEJS @emmea90_socialsidemenu/js/fbox_cookies.js -->
<!-- INCLUDEJS @emmea90_socialsidemenu/js/fbox.js -->
<!-- ENDIF -->
