<!-- IF SOCIALPOPUP_ACTIVE -->
<div class='fbox-background'>
    <div class='fbox-close'>
    </div>
    <div class='fbox-display'>
        <div class='fbox-button'>
        </div>
        <iframe class="fbox" allowtransparency='true' frameborder='0' scrolling='no' src='//www.facebook.com/plugins/likebox.php?
        href=https://www.facebook.com/{FACEBOOK_PAGE}&width=402&height=255&colorscheme=light&show_faces=true&show_border=false&stream=false&header=false'
        ></iframe>
    </div>
</div>
<!-- INCLUDEJS @emmea90_socialsidemenu/js/fbox_cookies.js -->
<!-- INCLUDEJS @emmea90_socialsidemenu/js/fbox.js -->
<!-- ENDIF -->
